<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP Veneziana</title>
    <style>
        body{
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        form {
        margin-left: 15px;
        }
        .imgTrash{
            margin-left: 15px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    {% include 'menu.html' %}
    <main class="d-flex">
        <div class="container-fluid row m-0 vh-50 justify-content-center align-items-center" style="height: 50vh;">
            <article>
                <div class="m-2"></div>
                <table class="table table-striped m-0">
                    <thead><tr><th class="bg-success text-white">Ultimos Ingresos agregados</tr></thead>
                </table>
                <table class="table table-striped m-0">
                    <thead>
                        <tr>
                            <th class="centrado">Codigo</th>
                            <th class="centrado">Nombre</th>
                            <th class="centrado">Unidad de Medida</th>
                            <th class="centrado">Descripcion</th>
                            <th class="centrado">Categoria</th>
                            <th class="centrado">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td class="centrado small">{{ producto[0] }}</td>
                            <td class="centrado small">{{ producto[1] }}</td>
                            <td class="centrado small">{{ producto[2] }}</td>
                            <td class="centrado small">{{ producto[3] }}</td>
                            <td class="centrado small">
                                {% for categoria in categorias %}
                                    {% if categoria[0] == producto[4] %}
                                        {{ categoria[1] }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="centrado small"><a href="#" onclick="editarProducto(3)"><i class="fas fa-edit fa-lg" style="color: rgb(40, 151, 214);"></i></a>&nbsp;&nbsp;
                                </td>
                        </tr>

                        {% endfor %}
                        </div>
                    </tbody>
                </table>
                <table class="table table-striped m-0">
                    <thead><tr><th class="bg-success text-white m-0">
                <nav aria-label="Page navigation example m-0">
                    <ul class="pagination">
                        <li class="page-item">
                            {% if page > 1 %}
                                <a class="page-link" href="/productos/ver_todos?page={{ page - 1 }}">Anterior</a>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">Anterior</a>
                                </li>
                            {% endif %}
                        </li>
                        {% for i in range(total_paginas) %}
                            <li class="page-item"><a class="page-link" href="/productos/ver_todos?page={{ i + 1 }}">{{ i + 1 }}</a></li>
                        {% endfor %}
                        <li class="page-item">
                            {% if page < total_paginas %}
                                <a class="page-link" href="/productos/ver_todos?page={{ page + 1 }}">Siguiente</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                </tr></thead>
            </table>
            </article>
        </div>
    </main>
    <script>
        async function editarProducto(producto_id) {
          try {
            // Enviar la solicitud "GET" al endpoint para editar el producto
            const response = await fetch(`/productos/editar/${producto_id}`, {
              method: "GET",
            });
      
            if (response.ok) {
              // Redireccionar a la página de edición si la respuesta es exitosa
              window.location.href = `/productos/editar/${producto_id}`;
            } else {
              // Manejar errores en la respuesta
              alert("Error al editar el producto");
            }
          } catch (error) {
            // Manejar errores de red u otros errores
            console.error("Error:", error);
            alert("Error al editar el producto");
          }
        }
      </script>
    <script>
        async function eliminarProducto(producto_id) {
          // Mostrar una ventana emergente para pedir confirmación
          const confirmar = confirm("¿Estás seguro de que deseas eliminar este producto?");
      
          if (confirmar) {
            // Enviar la solicitud "DELETE" si el usuario hace clic en "Aceptar"
            const response = await fetch(`/productos/borrar/${producto_id}`, {
              method: "DELETE",
            });
      
            if (response.ok) {
              window.location.href = "/Actualizado";
            } else {
              alert("Error al eliminar el producto");
            }
          } else {
            // Descartar la acción si el usuario hace clic en "Cancelar"
            alert("Acción descartada");
          }
        }
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>           
</body>
</html>