{% include 'header.html' %}
{% include 'menu.html' %}
<div class="container-fluid mt-2">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Listado de Alumnos</h2>
    <a href="/alumnos/nuevo/" class="btn btn-success btn-sm">Agregar</a>
  </div>
  <div class="table-responsive">
      <table class="table table-striped w-100">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Email</th>
                  <th>Colegio</th>
                  <th>Grado</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
            {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno[0] }}</td>
                <td>{{ alumno[1] }}</td>
                <td>{{ alumno[2] }}</td>
                <td>{{ alumno[3] }}</td>
                {% for colegio in colegios %}
                {% if colegio[0] == alumno[4] %}
                <td>{{ colegio[1] }}</td>
                {% endif %}
                {% endfor %}
                {% for grado in grados %}
                {% if grado[0] == alumno[5] %}
                <td>{{ grado[1] }} {{ grado[2] }}</td>
                {% endif %}
                {% endfor %}
                <td><a href="#" onclick="confirmarBorrado('{{ alumno[0] }}')"><i class="bi bi-trash text-danger"></i></td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      <table class="table table-striped m-0">
        <thead><tr><th class="text-white m-0">
          <nav aria-label="Page navigation example m-0">
              <ul class="pagination">
                  <li class="page-item">
                      {% if page > 1 %}
                          <a class="page-link" href="/alumnos/ver?page={{ page - 1 }}">Anterior</a>
                          {% else %}
                          <li class="page-item disabled">
                              <a class="page-link">Anterior</a>
                          </li>
                      {% endif %}
                  </li>
                  {% for i in range(total_paginas) %}
                      <li class="page-item"><a class="page-link" href="/alumnos/ver?page={{ i + 1 }}">{{ i + 1 }}</a></li>
                  {% endfor %}
                  <li class="page-item">
                      {% if page < total_paginas %}
                          <a class="page-link" href="/alumnos/ver?page={{ page + 1 }}">Siguiente</a>
                      {% endif %}
                  </li>
              </ul>
          </nav>
        </tr></thead>
      </table>
  </div>
</div>
<script>
  function confirmarBorrado(idBorrado) {
    if (confirm("¿Estás seguro de que quieres borrar este registro?")) {
      window.location.href = "borrar/" + idBorrado;
    }
  }
  </script>
{% include 'footer.html' %}

