<li class="mb-1">
  <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
    <i class="fa-solid fa-school"></i>&nbsp;Colegios
  </button>
  <div class="collapse" id="home-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li><a href="/colegio/nuevo" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nuevo</a></li>
      <li><a href="/colegio/ver" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver Todos</a></li>
    </ul>
  </div>
</li>
<li class="mb-1">
  <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
    <i class="fa-solid fa-chalkboard"></i>&nbsp;Grados
  </button>
  <div class="collapse" id="dashboard-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li><a href="/grados/nuevo" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nuevo</a></li>
      <li><a href="/grados/ver" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver Todos</a></li>
    </ul>
  </div>
</li>
<li class="mb-1">
  <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
    <i class="fa-solid fa-book"></i>&nbsp;Materias
  </button>
  <div class="collapse" id="orders-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li><a href="/materias/nuevo" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nuevo</a></li>
      <li><a href="/materias/ver" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver Todos</a></li>
    </ul>
  </div>
</li>
<li class="mb-1">
  <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#joni-collapse" aria-expanded="false">
    <i class="fa-solid fa-book-open"></i>&nbsp;Parciales
  </button>
  <div class="collapse" id="joni-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li><a href="/parciales/nuevo" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nuevo</a></li>
      <li><a href="/parciales/ver" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver Todos</a></li>
    </ul>
  </div>
</li>
<li class="mb-1">
  <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#almacen-collapse" aria-expanded="false">
    <i class="fa-solid fa-list-ol"></i>&nbsp;Notas
  </button>
  <div class="collapse" id="almacen-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li><a href="/notas/nuevo" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nuevo</a></li>
      <li><a href="/notas/ver" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver Todos</a></li>
    </ul>
  </div>
</li>
<li class="mb-1">
  <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#ingreso-collapse" aria-expanded="false">
    <i class="fa-solid fa-graduation-cap"></i>&nbsp;Alumnos
  </button>
  <div class="collapse" id="ingreso-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li><a href="/alumnos/nuevo" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nuevo</a></li>
      <li><a href="/alumnos/ver" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver Todos</a></li>
    </ul>
  </div>
</li>
<li class="mb-1">
  <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#movimiento-collapse" aria-expanded="false">
    <i class="fa-solid fa-chart-line"></i>&nbsp;Condiciones
  </button>
  <div class="collapse" id="movimiento-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li><a href="/alumnos/ver" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Por materia</a></li>
    </ul>
  </div>
</li>
<li class="border-top my-3"></li>
</ul>
</div>
