<nav class="sidebar" id="sidebar">
  <ul class="nav-links">
      <li><a href="#inicio"><i class="bi bi-house"></i> Colegios</a></li>
      <li><a href="#grados"><i class="bi bi-book"></i> Grados</a></li>
      <li><a href="#materias"><i class="bi bi-journal"></i> Materias</a></li>
      <li><a href="#parciales"><i class="bi bi-pencil-square"></i> Parciales</a></li>
      <li><a href="#notas"><i class="bi bi-clipboard-data"></i> Notas</a></li>
      <li><a href="#alumnos"><i class="bi bi-people"></i> Alumnos</a></li>
      <li><a href="#condiciones"><i class="bi bi-info-circle"></i> Condiciones</a></li>
  </ul>
</nav>