<!-- templates/formulario_ingreso.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Ingreso</title>
</head>
<body>
    <h2>Formulario de Ingreso</h2>
    <form method="post" action="/registrar_ingreso/">
        <label for="codigo">Código:</label>
        <input type="text" name="codigo" required><br>
        <label for="nombre">Nombre del Insumo:</label>
        <input type="text" name="nombre" required><br>
        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad" required><br>
        <button type="submit">Registrar Ingreso</button>
    </form>
</body>
</html>
