<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP Veneziana</title>
    <style>
        body{
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        form {
        margin-left: 15px;
        }
        .imgTrash{
            margin-left: 15px;
        }
    </style>
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    {% include 'menu.html' %}
    <main class="d-flex">
        <div class="container-fluid row m-0 vh-70 justify-content-center align-items-center" style="height: 70vh;">
            <article>
                <main class="d-flex">
                    <div class="container-fluid row m-2 vh-100 justify-content-center align-items-top">
                        <div class="card shadow w-70">
                            <div class="card-body">
                                <article>
                                    <form action="/nuevo-descuento" method="post" id="nuevo-descuento">
                                        <div class="row">
                                            <div class="col-md-2 text-center bg-primary text-white">Fecha</div>
                                            <div class="col-md-2 text-center bg-success text-white">Código</div>
                                            <div class="col-md-4 text-center bg-info text-white">Descripción</div>
                                            <div class="col-md-2 text-center bg-warning text-white">UM</div>
                                            <div class="col-md-2 text-center bg-danger text-white">Cantidad</div>
                                        </div>
                                
                                        {% for i in range(10) %}
                                        <div class="row">
                                            <div class="col-md-2">
                                                <input type="date" class="form-control mb-0 rounded-0 shadow-sm" name="fecha">
                                            </div>
                                            <div class="col-md-2">
                                                <input type="number" class="form-control mb-2 rounded-0 shadow-sm" name="codigo" id="codigo">
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control mb-2 rounded-0 shadow-sm" name="nombre" id="nombre" readonly>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" class="form-control mb-2 rounded-0 shadow-sm" name="um" id="um" readonly>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="number" class="form-control mb-2 rounded-0 shadow-sm" name="cantidad">
                                            </div>
                                        </div>
                                        {% endfor %}
                                
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-success m-1">Guardar</button>
                                        </div>
                                    </form>
                                </article>
                                
                                
                            </div>
                        </div>
                    </div>
                </main>
            </article>
        </div>
    </main>
    <script>
        document.getElementById('codigo').addEventListener('blur', function() {
            var codigo = this.value;
    
            // Realiza una solicitud AJAX para buscar el nombre y descripción asociados al código
            fetch(`/buscar-codigo/${codigo}`)
                .then(response => response.json())  // Parsea la respuesta como JSON
                .then(data => {
                    // Actualiza los valores de los campos con los resultados de la búsqueda
                    document.getElementById('nombre').value = data.nombre || '';
                    document.getElementById('um').value = data.um || '';
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>           
</body>
</html>