<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP Veneziana</title>
    <style>
        body{
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        form {
        margin-right: 15px;
        }
    </style>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    {% include 'menu.html' %}
    <article>
        <table class="table table-striped mt-2">
            <thead>
                <tr>
                    <th class="centrado">Id</th>
                    <th class="centrado">Fecha</th>
                    <th class="centrado">Codigo</th>
                    <th class="centrado">Descripcion</th>
                    <th class="centrado">Cantidad</th>
                    <th class="centrado">Proveedor</th>
                    <th class="centrado">Oc</th>
                    <th class="centrado">lote</th>
                    <th class="centrado">Vencimiento</th>
                    <th class="centrado">Estado</th>
                    <th class="centrado">Usuario</th>
                    <th class="centrado">Acciones</th>
                </tr>
            </thead>
            <div><h5 class="text-white">Ultimos Ingresos agregados</h5></div>
            <tbody>
            {% for ingreso in ingreso %}
                <tr>
                    <td class="centrado small">{{ ingreso[0] }}</td>
                    <td class="centrado small">{{ ingreso[1] }}</td>
                    <td class="centrado small">{{ ingreso[2] }}</td>
                    <td class="centrado small">{{ ingreso[3] }}</td>
                    <td class="centrado small">{{ ingreso[4] }}</td>
                    <td class="centrado small">{{ ingreso[5] }}</td>
                    <td class="centrado small">{{ ingreso[6] }}</td>
                    <td class="centrado small">{{ ingreso[7] }}</td>
                    <td class="centrado small">{{ ingreso[8] }}</td>
                    <td class="centrado small">{{ ingreso[9] }}</td>
                    <td class="centrado small">{{ ingreso[11] }}</td>
                    <td>
                        <div style="display: flex;"> 
                            <form action="/editar-ingreso" method="POST">
                                <input type="hidden" name="id" value="{{ ingreso[0] }}">
                                <a href="#" onclick="this.parentNode.submit()">
                                    <img class="navbar-brand" src="{{url_for('static', filename='images/pen.svg')}}" alt="Editar">
                                </a>
                            </form>
                            <form class="deleteForm" action="/borrarIngresos" method="POST">
                                <input type="hidden" name="id" value="{{ ingreso[0] }}">
                                <a href="#" onclick="confirmarBorrado('{{ ingreso[0] }}', event)">
                                    <img class="navbar-brand" src="{{url_for('static', filename='images/trash.svg')}}" alt="Eliminar">
                                </a>
                            </form>
                        </div>
                    </td>
                {% endfor %}
                
            </tbody>
        </table>
    </article>
    <article>
        <table class="table table-striped mt-2">
            <thead>
                <tr>
                    <th class="centrado">Id</th>
                    <th class="centrado">Fecha</th>
                    <th class="centrado">Codigo</th>
                    <th class="centrado">Codigo</th>
                </tr>
            </thead>
            <div><h5 class="text-white">Ultimos Insumos agredados</h5></div>
            <tbody>
            {% for ingreso in insumos %}
                <tr>
                    <td class="centrado small">{{ ingreso[0] }}</td>
                    <td class="centrado small">{{ ingreso[1] }}</td>
                    <td class="centrado small">{{ ingreso[2] }}</td>
                    <td>
                        <div style="display: flex;"> 
                            <form action="/editar-ingreso" method="POST">
                                <input type="hidden" name="id" value="{{ ingreso[0] }}">
                                <a href="#" onclick="this.parentNode.submit()">
                                    <img class="navbar-brand" src="{{url_for('static', filename='images/pen.svg')}}" alt="Editar">
                                </a>
                            </form>
                            <form class="deleteForm" action="/borrarIngresos" method="POST">
                                <input type="hidden" name="id" value="{{ ingreso[0] }}">
                                <a href="#" onclick="confirmarBorrado('{{ ingreso[0] }}', event)">
                                    <img class="navbar-brand" src="{{url_for('static', filename='images/trash.svg')}}" alt="Eliminar">
                                </a>
                            </form>
                        </div>
                    </td>
                {% endfor %}
                
            </tbody>
        </table>
    </article>
    <script>
        function confirmarBorrado(id, event) {
            event.preventDefault();  // Evitar el comportamiento predeterminado del enlace
            if (confirm('¿Estás seguro de que deseas eliminar este ingreso?')) {
                // Si el usuario confirma, enviar el formulario de borrado asociado a este ícono
                document.querySelector('.deleteForm input[name="id"]').value = id;
                document.querySelector('.deleteForm').submit();
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>           
</body>
</html>